<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875952474480-v9dfmii0chejt9vg8tsfip45k9vpemg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875952474480-v9dfmii0chejt9vg8tsfip45k9vpemg4</string>
	<key>API_KEY</key>
	<string>AIzaSyDQQdfZ3JeAz4-e9lMcOTqGAdgGFB4hzyo</string>
	<key>GCM_SENDER_ID</key>
	<string>875952474480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AKCSE.Orofacial</string>
	<key>PROJECT_ID</key>
	<string>orally-d7070</string>
	<key>STORAGE_BUCKET</key>
	<string>orally-d7070.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875952474480:ios:46318e7566478c1b1e67b5</string>
</dict>
</plist>